{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^@lib/(.*)$", "^@services/(.*)$", "^@stubs/(.*)$", "ˆ@commands/(.*)$", "^[./]" ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
